#include "tiber_config.h"

#include <winver.h>
#include <windows.h>

#define DOQUOTE(x) #x 
#define QUOTE(x) DOQUOTE(x)
#define DOCONCAT(a, b, c, d) a ## . ## b ## . ## c ## . ## d ## 
#define CONCAT(a, b, c, d) DOCONCAT(a, b, c, d)
#define VER_FULL CONCAT(TIBERMAJORVERSION, TIBERMINORVERSION, \
			TIBERSUBMINORVERSION, SVNREVISION)
#define VER_STRING QUOTE(VER_FULL)


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
100	ICON	tibercad.ico

1 VERSIONINFO
FILEVERSION TIBERMAJORVERSION,TIBERMINORVERSION,TIBERSUBMINORVERSION,SVNREVISION
PRODUCTVERSION TIBERMAJORVERSION,TIBERMINORVERSION,TIBERSUBMINORVERSION,SVNREVISION
FILEFLAGS VS_FF_PRERELEASE
FILETYPE VFT_APP
FILEOS VOS__WINDOWS32
{
 BLOCK "StringFileInfo" {
  BLOCK "040904E4" {
   VALUE "FileVersion", VER_STRING
   VALUE "ProductVersion", VER_STRING
   VALUE "FileDescription", "TiberCAD simulator executable\0"
   VALUE "CompanyName", "TiberLAB\0"
   VALUE "LegalCopyright", "Copyright (C) TiberLAB, 2008\0"
   VALUE "ProductName", "TiberCAD\0"
   VALUE "InternalName", "tibercad\0"
   VALUE "OriginalFileName", "tibercad.exe\0"
   VALUE "Website", "http://www.tibercad.org\0"
  }
 }

 BLOCK "VarFileInfo" {
  VALUE "Translation", 0x409, 1252
 }
}
